@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fafafa;
}

.blink {
  animation: blinkAnimation 0.5s infinite alternate;
}

@keyframes blinkAnimation {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
